# Assignment 1

imports

In [1]:
import pandas as pd
import json

## Task 1

In [33]:
def dataset_from_json(name):
    from collections import Counter
    with open(name, 'r', encoding='utf-8') as f:
        data = json.load(f)
        df = pd.DataFrame.from_dict(data, orient='index')
        df = df[['id_EXIST', 'lang', 'tweet', 'labels_task2']]
        df = df.rename(columns={'labels_task2': 'label'})
        df = df[df['lang'] == 'en']

        def most_frequent_or_drop(arr):
            if not isinstance(arr, list):
                return arr
            c = Counter(arr)
            most_common = c.most_common()
            if len(most_common) == 0:
                return None
            max_count = most_common[0][1]
            candidates = [val for val,
                          count in most_common if count == max_count]
            if len(candidates) > 1:
                return None
            return candidates[0]

        df['label'] = df['label'].apply(most_frequent_or_drop)

        def map_label(label):
            mapping = {
                '-': 0,
                'DIRECT': 1,
                'JUDGEMENTAL': 2,
                'REPORTED': 3
            }
            return mapping.get(label, None)
        
        df = df.dropna(subset=['label'])
        df['label'] = df['label'].apply(map_label)

    return df

train_df = dataset_from_json('data/training.json')
val_df = dataset_from_json('data/validation.json')
test_df = dataset_from_json('data/test.json')

In [34]:
train_df.head()

       id_EXIST lang                                              tweet  label
200001   200001   en  FFS! How about laying the blame on the bastard...      0
200002   200002   en  Writing a uni essay in my local pub with a cof...      3
200003   200003   en  @UniversalORL it is 2021 not 1921. I dont appr...      3
200004   200004   en  @GMB this is unacceptable. Use her title as yo...      0
200005   200005   en  ‘Making yourself a harder target’ basically bo...      0